<%- include('../partials/editheader')%>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <a href="/" class="navbar-brand">
            Snap
        </a>
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a  class="nav-link" href="/logout" style="margin-right: 15px;">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="container">

        


        <br>
        <p>
            <button data-bs-toggle="collapse" data-bs-target="#userc" class="btn btn-success">Editar nome de usuário</button>
            <button data-bs-toggle="collapse" data-bs-target="#usere" class="btn btn-secondary">Editar email</button>
            <button data-bs-toggle="collapse" data-bs-target="#userp" class="btn btn-info">Trocar senha</button>
        </p>
        
        <div class="collapse" id="userc">
            <div class="card" id="usernameChange">
                <div class="card-header">
                    <h2>Editar nome de Usuário</h2>
                </div>
                <div class="card-body">
                    <form action="/user/update" method="POST">
                        <input type="hidden" name="id" value="<%= user.id %>">
                        <input type="text" class="form-control" name="name" placeholder="Insira seu nome" value="<%= user.name %>">
                        <br>
                        
                        <!-- <input type="password" class="form-control" name="password" placeholder="Insira sua senha"> -->
                        
                        <button class="btn btn-primary">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>

        
        <div class="collapse" id="usere">
            <div class="card" id="emailChange">
                <div class="card-header">
                    <h2>Modificar email</h2>
                </div>
                <div class="card-body">
                    <form action="">
                        <input type="hidden" name="id" value="<%= user.id %>">
                        <input type="text" class="form-control" name="email" placeholder="Insira seu email" value="<%= user.email %>">
                        <br>
                        <input type="password" class="form-control" name="password" placeholder="Confirme sua senha">
                        <br>
                        <button class="btn btn-primary">Confirmar</button>
                    </form>
                    
                </div>
            </div>
        </div>
        
        <div class="collapse" id="userp">
            <div class="card" id="passChange">
                <div class="card-header">
                    <h2>Trocar senha de usuário</h2>
                </div>
                <div class="card-body">
                    <form action="">
                        <input type="hidden" name="id" value="<%= user.id %>">
                        <input type="password" class="form-control" name="oldpass" placeholder="Digite sua senha antiga">
                        <br>
                        <input type="password" class="form-control" name="newpass1" placeholder="Digite sua nova senha">
                        <br>
                        <input type="password" class="form-control" name="password" placeholder="Confirme sua nova senha">
                        <br>
                        <button class="btn btn-primary">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
        

    </div>
</body>
<%- include('../partials/footer')%>